<!DOCTYPE html>
<html>
<head>
    <title>Natural Language Forms for AngularJS</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootswatch/2.3.1/spruce/bootstrap.min.css">
    <link rel="stylesheet" href="build/angular-natural-language.css">
</head>
<body ng-app="ExampleApp">

    <form id="nl-form" class="nl-form" ng-controller="MainCtrl">
        I feel like eating
	    <nl-select ng-model='answers.food' options='foods' multiple="or" none="no" all="any"></nl-select><br />
        food in a
        <nl-select ng-model='answers.style' options='styles' ></nl-select>
        restaurant
        <nl-select ng-model='answers.time' options='times' ></nl-select>
        in <nl-text ng-model="answers.city" placeholder="any city" subline="{{ subline }}" name="city"></nl-text>
        <div class="nl-submit-wrap">
            <button class="nl-submit" type="submit">Find a restaurant</button>
        </div>
    </form>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.5/angular.min.js"></script>

    <script src="src/nlForm.js"></script>
    <script src="src/nlForm.select.js"></script>
    <script src="src/nlForm.text.js"></script>

    <script>
        angular.module('ExampleApp', ['rhases.directives.nlForm']).
        controller('MainCtrl', function ($scope) {
            $scope.foods = [
		        'Indian',
		        'French',
		        'Japanese',
		        'Italian'
            ];
			$scope.styles = [
				'standard',
			    'fancy',
			    'hip',
			    'traditional',
			    'fine'
			];
			$scope.times = [
				{ value: 'any', label: 'anytime' },
				{ value: '19:00', label: 'at 7 p.m.' },
				{ value: '20:00', label: 'at 8 p.m.' },
				{ value: '21:00', label: 'at 9 p.m.' }
			];
			$scope.answers = {
				food: 'Japanese',
				style: 'hip',
				time: '19:00',
				city: ''
			};
			$scope.subline = "For example: <em>Los Angeles</em> or <em>New York</em>";
        });
    </script>
</body>
</html>
